@media screen and (min-width: 768px) {
    .navbar-big {
        display: none;
    }

    .content-student {
        width: 100%;
    }

    .offset-md-1 {
        margin-left: 50px;
    }

    .hidden {
        display: inline-block;
        width: 50%;
        height: 7vh;
        align-content: end;
    }

    table {
        font-size: 10px;
    }
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        display: none;
    }

    .navbar-big {
        display: block;
        width: 200px;
    }

    span > .fa-bell {
        display: none;
    }

    .sidebar {
        top: 5%;
        width: 150px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .desc {
        display: flex;
        color: white;
    }

    .padding_top_6 {
        padding-top: 50px;
    }

    .hidden {
        display: inline-block;
        width: 50%;
        height: 7vh;
        align-content: end;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-brand {
        display: none;
    }

    .navbar-big {
        display: block;
        width: 200px;
    }

    span > .fa-bell {
        display: none;
    }

    .sidebar {
        top: 5%;
        width: 150px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .desc {
        display: flex;
        color: white;
    }

    .padding_top_6 {
        padding-top: 60px;
    }

    .hidden {
        display: inline-block;
        width: 50%;
        height: 7vh;
        align-content: end;
    }
}