@media screen and (min-width: 768px) {
    .navbar-big {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        display: none;
    }

    .navbar-big {
        display: block;
        width: 200px;
    }

    span > .fa-bell {
        display: none;
    }

    section {
        top: 5%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-brand {
        display: none;
    }

    .navbar-big {
        display: block;
        width: 200px;
    }

    span > .fa-bell {
        display: none;
    }

    section {
        top: 5%;
    }
}