* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Layout */

header {
    background-color: #F8F9FA;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.student .container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

/* Elements */

.content-student {
    width: 50%;
    color: white;
}

.navbar-brand {
    width: 60px;
}

.navbar-big {
    display: none;
}

.img-thumbnail {
    border: none;
}

.fa-bell {
    color: #FF8F00;
}

.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    position: absolute;
    top: 12%;
    height: 100vh;
    width: 70px;
}

.desc {
    display: none;
}

.fa-plus {
    border: 1px solid white;
    border-radius: 10%;
    padding: 10px;
    margin-left: 5px;
}

.fa-pencil,
.fa-trash {
    border: 1px solid grey;
    background-color: #F8F9FA;
    border-radius: 10%;
    padding: 5px;
    color: grey;
}

.badge {
    background-color: #165BBA;
    display: inline;
}

td > img {
    width: 30px;
    margin-right: 4px;
}

.card-body > img {
    width: 100%;
}

/* Utility */

.custom-search-bg {
    background-color: #E5E5E5;
}

.padding_top_6 {
    padding-top: 86px;
}

.bg_color_white {
    background-color: #F8F9FA;
}