* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Layout */

header {
    background-color: #F8F9FA;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

/* Elements */

.navbar-brand {
    width: 60px;
}

.navbar-big {
    display: none;
}

.img-thumbnail {
    border: none;
}

.fa-bell {
    color: #FF8F00;
}

section {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    position: absolute;
    top: 12%;
    height: 100vh;
    width: 14%;
}

/* Utility */

.custom-search-bg {
    background-color: #E5E5E5;
}